/* * {
    margin: 0;
    padding: 0;
} */
.errors{
    width: inherit;
    height: 40px;
    display: block;
    margin: 0px auto;
    color: red;
}
button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.box0 {width: 700px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #dfe3e4;
    border: 2px solid grey;
}
#scroll {width: 650px;
    height: 450px;
    padding: 20px;
    overflow: auto;
    border: 2px solid #e0e2e4;
}