<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" [routerLink]="['/players/addplayer']">Add Players</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/status/game/1']">Manage Player Status</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/']">Logout</button>
</div>
<br><br>
  <div id="scroll">
  <h2>   List of Player  </h2> 
  <table class="table table-hover" align="left">
    <thead>
      <tr class="table-primary d-flex">
        <th class="col-6">Team Name</th>
        <th class="col-4">Preferred Position</th>
        <th class="col-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of team" class="d-flex">
            <td class="col-6">{{ player['name'] }}</td>
            <td class="col-4">{{ player['position'] }}</td>
            <td class="col-3"><button mat-button (click)="openDialog(player)" class="btn btn-danger btn-sm">DELETE</button></td>
      </tr>
    </tbody>
  </table> 
</div>





